html{
    box-sizing: border-box;


}
*,*:before,:after{

box-sizing: inherit;


}

body{
    background-color: #2C2141;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.main{
margin: 16px;
padding: 32px;
background-color: #F8F8F8;
border-radius: 16px;
width: 624px;
}
.person-picture{
width: 150px;
height: 160px;
border-radius: 50%;
}